/* src/components/css/Movie.css */

.movie-container {
  color: #fff;
}

.movie-header {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.movie-title h1 {
  font-size: 3rem;
}

.movie-title .tagline {
  font-size: 1.5rem;
  color: #ccc;
}

.movie-content {
  color: #000;
}

.movie-poster {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.production-companies {
  display: flex;
  flex-wrap: wrap;
}

.production-company {
  margin-right: 20px;
  text-align: center;
}

.company-logo {
  max-height: 50px;
  margin-bottom: 10px;
}
